<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.PersonMapper">
	<insert id="addPerson" parameterType="person">
		insert into person values (#{name},#{age},null)
	</insert>
	<delete id="delPerson" parameterType="string">
		delete from person where name=#{name}
	</delete>
	
</mapper>